<div class="container-xxl">
  <div class="autenticacion-wrapper autenticacion-basic container-p-y">
    <div class="autenticacion-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center"></div>
          <!-- /Logo -->
          <h4 class="mb-2">Bienvenido a Cumlaude</h4>
          <p class="mb-4">Ingrese sus credenciales por favor</p>

          <form id="formauthentication" class="mb-3">
            <div class="mb-3">
              <label for="email" class="form-label">Correo o Usuario</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email-username"
                placeholder="27349869"
                autofocus
              />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="Contaceña">Contaceña</label>
                <a href="#">
                  <small>Olvidaste tu Contaceña?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                />
                <span class="input-group-text cursor-pointer"
                  ><i class="bx bx-hide"></i
                ></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="remember-me"
                />
                <label class="form-check-label" for="remember-me">
                  Aceptar los terminos y condiciones
                </label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">
                iniciar
              </button>
            </div>
          </form>
          <p class="text-center">
            <span>¿Nuevo en nuestra plataforma? </span>
            <a href="#">
              <span [routerLink]="['/regristro']">Create una nueva cuenta</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
